.list {
    list-style-type: none;
    width: 500px;
    height: 100px;
    border: 1px solid #3498db;
    margin: auto;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.list button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.list img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.details {
    display: flex;
    flex-direction: row;
    line-height: 0.7;
    align-items: flex-start;
}
.info {
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    align-items: flex-start;
}